name: enroute
services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: postgres
    expose:
      - 5432
    ports:
      - 5432:5432
    networks:
      - local
    volumes:
      - ./Docker/db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./Docker/db/dumps:/dumps

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - 6379:6379
    networks:
      - local
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

networks:
  local:
    name: enroute_local

volumes:
  redis_data:
